- content_for :title, "#{client_namespace} :: #{@model.name} API"

.container

  .row

    .col-md-9
      .page-header
        %h1= @model.name

      #schema.panel.panel-default
        .panel-heading
          %h3.panel-title Schema
        .panel-body
          %pre= JSON.pretty_generate @schema
        .panel-footer
          = link_to 'Download', schema_path(@model.name.downcase)

      #api.panel.panel-default
        .panel-heading
          %h3.panel-title API
        %table.table.table-condensed
          - model_verbs_and_routes(@model) do |verb, path, defaults|
            %tr
              %td= defaults[:action].capitalize
              %td= verb
              %td= path
              %td= action_definition(defaults, @model)

      #filters.panel.panel-default
        .panel-heading
          %h3.panel-title Filters
        .panel-body
          %ul.list-inline
          - model_filters(@model).each do |filter|
            %li.btn.btn-default= filter

          - attribute = @model.attribute_names.second
          %h4 API Examples
          %pre
            == /#{api_version}/#{@model.name.underscore.pluralize}.json?filters[#{attribute}]=foo

          %h4 Client Examples
          %pre
            == #{client_namespace}::#{@model.name}.where(#{attribute}: 'foo')

      - scopes = @model.registered_scopes
      - if scopes.present?
        #scopes.panel.panel-default
          .panel-heading
            %h3.panel-title Scopes

          .panel-body
            %ul.list-group
              - scopes.each do |scope|
                %li.list-group-item= "#{@model.name}.#{scope}"

            %h4 API Examples
            %pre
              ==/#{api_version}/#{@model.name.underscore.pluralize}.json?scopes[]=#{scopes.first}
              - if scopes.count > 1
                %br<>
                == /#{api_version}/#{@model.name.underscore.pluralize}.json?scopes[]=#{scopes.first}&scopes[]=#{scopes.last}

            %h4 Client Examples
            %pre
              == #{client_namespace}::#{@model.name}.#{scopes.first}
              - if scopes.count > 1
                %br<>
                == #{client_namespace}::#{@model.name}.#{scopes.first}.#{scopes.last}

      #associations.panel.panel-default
        .panel-heading
          %h3.panel-title Associations
        .panel-body
          %ul.list-group
            - @model.reflections.each_pair do |key, reflection|
              %li.list-group-item
                %a{title: reflection.klass.name, href: "#{reflection.klass.name.downcase}.html"}= reflection.name

          - reflections = @model.reflection_names.grep /s$/
          - if reflections.present?
            %h4 API Examples
            %pre
              ==/#{api_version}/#{@model.name.underscore.pluralize}/1/#{reflections.first}.json

            %h4 Client Examples
            %pre
              ==#{@model.name.underscore}.#{reflections.first}

      #client-examples.panel.panel-default
        .panel-heading
          %h3.panel-title Other Client Examples
        .panel-body
          %pre
            #{client_namespace}::#{@model.name}.first
            %br<>
            #{client_namespace}::#{@model.name}.find(1)
            - reflection = @model.reflections.values.find {|ref| ref.macro == :has_many }
            - if reflection
              %br<>
              #{client_namespace}::#{@model.name}.find(1).#{reflection.name}
              %br<>
              #{client_namespace}::#{@model.name}.find(1).#{reflection.name} &lt;&lt; #{client_namespace}::#{reflection.klass.name}.find(2)
              - filter = reflection.klass.attribute_names.last
              %br<>
              #{client_namespace}::#{@model.name}.find(1).#{reflection.name}.where(#{filter}: filter_value)
              %br<>
              #{client_namespace}::#{@model.name}.find(1).#{reflection.name}.where(#{filter}: filter_value).first_or_create

    #navigation.col-md-3
      %ul.nav.nav-pills.nav-stacked.affix
        %li.active
          %a{href:'#schema'} Schema
        %li
          %a{href:'#api'} API
        %li
          %a{href:'#filters'} Filters
        %li
          %a{href:'#scopes'} Scopes
        %li
          %a{href:'#associations'} Associations
        %li
          %a{href:'#client-examples'} Client Examples
